data/hotpotqa/train.jsonl
*.err
*.out
indexes/
output/
outputs/
__pycache__/
FlashRAG/
bm25/
configs/
trained_baseline_models/
trained_teacher_models/
enwiki-20171001-pages-meta-current-withlinks-processed/